<launch>
  <!-- Argument for the world launch file -->
  <arg name="world_launch" default="turtlebot3_world.launch"/>

  <!-- Launch Turtlebot3 in Gazebo -->
  <include file="$(find turtlebot3_gazebo)/launch/$(arg world_launch)" />

  <!-- Run SLAM with gmapping -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="slam_methods" value="gmapping"/>
  </include>

  <!-- Run navigation stack -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch" />

  <!-- Launch frontier-based exploration -->
  <node pkg="turtlebot3_autonav" type="launch_explore.py" name="launch_explore" output="screen">
    <param name="delay" value="10"/> <!-- adjust delay -->
    <param name="launch_file" value="$(find explore_lite)/launch/explore.launch"/>
  </node>
</launch>

